.div1{
display: flex; margin: 30px;

}
.div11{
margin-right: 4%;margin-left:10%;

}
.div2{  background-color: rgb(226, 240, 252);
     
    display: flex;   
}
.div21{
    margin-right: 4%;margin-left:12%;
    display: flex;align-items: center; 
    }

lable{
    font-size: 25px;
}
.contain1{ 
    background-color: aliceblue;
}
.head{width: 100%;
     position :fixed; background-color: antiquewhite;
}

.heading{background-color: antiquewhite;margin-top: 4px;
    text-align:  center;  
    justify-content:center;
} 

.swikar{ 
    font-size: 25px;border: 1px solid blue;border-radius:10px ;
}
option.swikar{
    border-radius: 10px;border: 1px solid blue;
}

.but:active{
    background-color: blue;
}






.container_div1{  border-radius: 10px; padding-top: 20px; 
    display: flex;align-items: center;
    
}
 
 
.form1{text-align: flex-start;
    font-size: 27px;
    margin: 10px;
}
.form2{text-align: flex-end;align-items: flex-end;
    font-size: 20px;border: 1px solid rgb(91, 91, 242);border-radius: 10px;
    margin: 10px;
}

.form22{
    text-align: flex-end;align-items: flex-end;
    font-size: 18px;border: 1px solid rgb(91, 91, 242);
    border-radius: 10px;
    margin: 10px;
}
/* div2.h3{
    align-items: center;border: 1px solid blue;
} */
 
input{
    align-items: flex-end;padding:5px;
}
.but{border: none;border-radius: 10px;color: white;font-size: 30px;cursor: pointer;
    background-color: rgb(77, 77, 232);
}
.butt{ text-align: center; padding: 5px;margin: 5px;
    
}
 
 
a.but{
padding: 0px 15px 0;
text-decoration: none;

}
.but1{border: none;border-radius: 10px;color: white;font-size: 30px;cursor: pointer;
    background-color: rgb(77, 77, 232);
}

a.but1{
    padding: 0px 15px 0;
    text-decoration: none;
    
    }
    a.but1:hover{
        color: white;text-decoration: none;
    }
